# Python
venv/
__pycache__/
*.pyc
uploads/
.env

# HuggingFace downloaded models
models/

# React
node_modules/
build/

# VS Code
.vscode/

# Images used for testing
cycle.jpg
rithesh.jpg
bottle.jpg
shoe.jpg
shoe2.jpg
backpack.jpg

# Tests
test_*.py